!data/property.csv
data/wikidata_dumps_20250601/*
__pycache__/*
venv/*
scripts/__pycache__/*
*.pyc
*.pyo
*.pyd
.env
.DS_STORE
logs/*
!logs/processed_files.txt
!logs/parser_log_files.json
!logs/dowload.log
!logs/nohup_output_log.log