__pycache__/*
venv/*
scripts/__pycache__/*
*.pyc
*.pyo
*.pyd
.env
.DS_STORE
logs/*
!logs/run_results.csv
!logs/parser_log_files.csv
!logs/metrics.ipynb
setup.yml
classifier_setup.yml
classifiers/rule/rule_based_samples/*
classifiers/ml/features/*
classifiers/ml/training_info/*
classifiers/ml/training_dataset/*
classifiers/ml/training_dataset/gs_entity_old.csv
analysis/scripts/data/*
logs_new/*
logs/*
slurm_wrapper.slurm
/auxiliary_data/transitive_closures/*
config/db_config_mine.json
config/aux_db_config.json
classifiers/test_rb_classification.py
rdf_benchmarking/query_benchmarking/*
rdf_benchmarking/export_scripts/*
rdf_benchmarking/postgresql/*
rdf_benchmarking/qlever/*
rdf_benchmarking/data/*
rdf_benchmarking/config/qlever_db_config.json
!rdf_benchmarking/postgresql/pgdb.sh
!rdf_benchmarking/qlever/qlever_index.sh
!rdf_benchmarking/qlever/qlever_index.slurm
!rdf_benchmarking/qlever/qleverdb.sh
wdtk/ExtractInstanceOfSubclassOf.java
wdtk/ExtractLabelsProperties.java
scalability_tests/*
setup.yml